<!DOCTYPE html>
<html>
  <head>
    <title>Kazu9su.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://secure.gravatar.com/avatar/4a4e432e0414165d0f9eddcbd5ce11cf&size=16">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
